@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,230;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,230;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    
}
#container {
    padding: 20px 230px;
    background-color: rgb(0 49 139);
    height: 385px;
}
header {
    color: white;
    height: 50px;
}

#container header .navbar .nav-links > ul {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
}
#container header .navbar .nav-links > ul > li > a {
    color: #ffffff;
    

}
#container header .navbar .logo {
    font-size: 30px;
    font-weight: bold;
}
.navbar {
    display: flex;
    justify-content: space-between;
}

.nav-links a {
    
    text-decoration: none;
    margin-right: 15px;
    font-size: medium;   
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;  
}

.nav-links .button {
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 5px;
    color: #000 !important;
}
#container .catagaries >ul {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;    
    margin-top: 40px;

    
}

#container .catagaries >ul >li >a {
   
    padding: 10px;
    border: 3px solid transparent;
    border-radius: 20px;
    font-size: 12px;
}

#container .catagaries >ul >li >a:hover {
    border: 3px solid #ffffff;
}

#container .catagaries >ul >li >a.button {
    color: #ffffff;
    text-decoration: none;
}







.search-section {
    padding: 20px 230px;
    margin-top: -165px;
    color: #ffffff;
    
}
.search-section .search-bar {
    padding-top: 10px;
    display: flex;
}




.search-section .heading >h1 {
    font-size: 50px;
}
.search-section .heading >p {
    margin-top: 12px;
}

.search-bar input, .search-bar button {

    padding: 10px;
    border: 3px solid #ffb006;
    text-align: center;
}

.search-bar button {
    color: #ffffff;
    background-color: #133287;
    font-size: 25px;
}

.search-section .search-bar >input {
    font-size: 23px;
    width: 400px;
    height: 70px;
    outline: none;
}

.swiper {
    cursor: pointer;
}




.offers-section {
    padding: 20px 230px;
}

.offers-section #offer >button {
    background-color: #02227a;
    color: #ffffff;
    margin: 25px;
    padding: 3px;
}
 
.offers-section #offer {
    color: #ffffff;
    background-image: url("/images/12.jpg");
    background-repeat: no-repeat;
    background-size:  cover; 
    border-radius: 20px;
    background-clip: content-box;
    padding-top: 4px;
    object-fit: cover;
}
.offers-section #offer >p {
    margin-top: 15px;
    margin-left: 15px;
}
.offers-section #offer >p strong {
    margin-left: 5px;

}




.property-types #types {
    display: flex;
    text-align: center;
    padding-top: 20px;
   
}





.property-types {
    padding: 20px 230px;
    overflow-x: auto; 
   width: 100%; 
   
}


.property-types #types .property-type img {
    border-radius: 15px;
    width: 100%;
    height: 200px;
}


#types img{
padding:3px;
}

.destinations #city {
    display: flex;
    padding-top: 10px;
    gap: 0.3rem;
  
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-wrapper {
    margin-bottom: 40px;
  }

.destinations #city .cities >img {
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

.destinations {
    padding: 20px 230px;
    
    width: 100%;
}

.unique-properties #properties {
    display: flex;
   
   
    padding-top: 10px;
}


.unique-properties {
    padding: 20px 230px;
}
.unique-properties #properties .farm-house1 >img{
    width: 100%;
    height: 225px;
    border-radius: 10px;

}
.unique-properties #properties .farm-house1 {
    width: 02px;
    border-radius: 15px;
    border: 1px solid rgb(221, 221, 221);
    height: 240px;
}
.unique-properties #properties .farm-house1 >p ,h3 ,.rating-text {
    color: #626262;
    padding: 5px;
    
}


.unique-properties .rating #property-rating span.rating-score {
    border: 3px solid #d3cccc;
    background-color: #133287;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(70, 70, 70);
    color: #ffffff;
    margin-left: 5px;
    font-size: 10px;
    padding: 2px 7px;
    border-radius: 5px;
  
}
.unique-properties #properties .farm-house1 {
    width: 402px;
    border-radius: 15px;
    border: 1px solid rgb(221, 221, 221);
    height: 340px;
}







.homes-guest {
padding: 20px 230px;

}
.homes-guest #properties {
    display: flex;
 gap: 20px   ;
   
    padding-top: 20px;
}


.homes-guest #properties .farm-house1 >img{
    width: 100%;
    height: 225px;
    border-radius: 10px;

}
.homes-guest #properties .farm-house1 {
    width: 402px;
    border-radius: 15px;
    border: 1px solid rgb(221, 221, 221);
    height: 402px;
}
.homes-guest #properties .farm-house1 >p ,h3 ,.rating-text {
    color: #626262;
    padding: 5px;
    
    font-size: 12px;
}


.homes-guest .rating #property-rating span.rating-score {
    border: 3px solid #d3cccc;
    background-color: #133287;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(70, 70, 70);
    color: #ffffff;
    margin-left: 5px;
    font-size: 12px;
    padding: 2px 7px;
    border-radius: 5px;
  
}
.homes-guest #properties .farm-house1 {
    width: 402px;
    border-radius: 15px;
    border: 1px solid rgb(221, 221, 221);
    height: 340px;
}




    


.vacations >h4 {
    width: 570px;
}





.vacations {
    background-image: url(/images/18.jpg);
    height: 460px;
    width: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 290px;
    padding-left: 30px;
    color: #ffffff;
    border-radius: 20px;
   
}

.next-trip {
    padding: 20px 230px;
}


.next-trip  #trips .suggestions img {
    height: 354px;
    width: 300px;
    object-fit: cover;

}
.next-trip  #trips{
    display:flex;
    gap: 20px;
    overflow-x: auto;
    padding-top: 15px;
}




.travel{
    padding: 20px 230px;
 
   
}

.travel .sign-in {
  
    height: 110px;
    padding: 10px;


}
.travel .genious img {
    height: 70px;
    width: 70px;
    margin-top: 20px;
}


#traveling {
    display: flex;
    border: 2px solid;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px 10px;

}

.travel #traveling .sign-in button {
    font-size: 15px;
    background-color: #133287;
    color: #ffffff;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgb(150, 150, 150);
    padding: 3px;
}


footer {
    padding: 20px 230px;
}


#butn ul {
   display: flex;
    list-style-type: none;
    gap: 20px;
}

#butn ul li a.button {
    text-decoration: none;
}

.x{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.coloumn {
    display: grid;
    padding-top: 20px;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );

}

.coloumn .values >p {
    color: #626262;
}
#butn ul li a.button:hover {
    text-decoration: none;
    border: 2px solid rgb(0, 48, 180);
    border-radius: 20px;
    padding: 5px;
}